$metrics-widget-background: (#F3F4F4, #E6E7E8) !default;
$metrics-widget-panel-header-default-border: 1px solid #2F2F2F;
$metrics-widget-panel-header-background-color: #2A2A2A;
$metrics-widget-panel-header-background-image: center top , #333333, #2B2B2B 45%, #171616 46%, #171616 50%, #1E1E1E 51%, #2A2A2A;
$metrics-widget-panel-header-text-color: #FFFFFF;
$metrics-widget-toolbar-color: #000000;
$metrics-widget-chart-background-color: transparent;
$metrics-widget-tab-background-color: #9DA4A9;
$metrics-widget-tab-background-image: #CCCFD1, #9DA4A9;
$metrics-widget-tab-border: 1px solid #FFFFFF;
$metrics-widget-tab-color: #FFFFFF;
$metrics-widget-tab-active-background-color: #2A2A2A;
$metrics-widget-tab-active-background-image: #55656D, #2A2A2A;
$metrics-widget-cloud-tag-color: #000000;
$metrics-widget-cloud-tag-active-color: #5A6D7F;
$metrics-widget-text-color: #000000;